# CS109 Project: Exploration
Work by Phillip Huang

In [2]:
# import packages
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [6]:
# read data
crops = pd.read_csv('data/food/FoodSupply_Crops_E_All_Data.csv')
meat = pd.read_csv('data/food/FoodSupply_LivestockFish_E_All_Data.csv')
beds = pd.read_csv('data/bed/API_SH.MED.BEDS.ZS_DS2_en_csv_v2.csv', skiprows=4)
doctors = pd.read_csv('data/phys/API_SH.MED.PHYS.ZS_DS2_en_csv_v2.csv', skiprows=4)

# too big and redundant
crops_norm = pd.read_csv('data/food/FoodSupply_Crops_E_All_Data_(Norm).csv')
meat_norm = pd.read_csv('data/foodFoodSupply_LivestockFish_E_All_Data_(Norm).csv')

# Crops

In [19]:
crops.head()

,Country Code,Country,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2009,Y2009F,Y2010,Y2010F,Y2011,Y2011F,Y2012,Y2012F,Y2013,Y2013F
0,2,Afghanistan,2617,Apples and products,641,Food supply quantity (tonnes),tonnes,14345.00,S,14345.00,...,60666.00,S,65219.00,S,56185.00,S,43222.00,S,67678.00,S
1,2,Afghanistan,2617,Apples and products,646,Food supply quantity (g/capita/day),g/capita/day,4.39,Fc,4.30,...,6.00,Fc,6.29,Fc,5.29,Fc,3.97,Fc,6.07,Fc
2,2,Afghanistan,2617,Apples and products,645,Food supply quantity (kg/capita/yr),Kg,1.60,Fc,1.57,...,2.19,Fc,2.30,Fc,1.93,Fc,1.45,Fc,2.22,Fc
3,2,Afghanistan,2617,Apples and products,664,Food supply (kcal/capita/day),kcal/capita/day,2.00,Fc,2.00,...,3.00,Fc,3.00,Fc,3.00,Fc,2.00,Fc,3.00,Fc
4,2,Afghanistan,2617,Apples and products,674,Protein supply quantity (g/capita/day),g/capita/day,0.01,Fc,0.01,...,0.02,Fc,0.02,Fc,0.02,Fc,0.01,Fc,0.02,Fc

In [23]:
crops_norm.head()

,Country Code,Country,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,2617,Apples and products,641,Food supply quantity (tonnes),1961,1961,tonnes,14345.0,S
1,2,Afghanistan,2617,Apples and products,641,Food supply quantity (tonnes),1962,1962,tonnes,14345.0,S
2,2,Afghanistan,2617,Apples and products,641,Food supply quantity (tonnes),1963,1963,tonnes,14345.0,S
3,2,Afghanistan,2617,Apples and products,641,Food supply quantity (tonnes),1964,1964,tonnes,17480.0,S
4,2,Afghanistan,2617,Apples and products,641,Food supply quantity (tonnes),1965,1965,tonnes,19380.0,S

In [12]:
# what is flag? No one knows
crops_norm['Flag'].value_counts()

Fc    3635678
S      513346
A      258920
Name: Flag, dtype: int64

In [11]:
# see units
crops[crops['Item'] == 'Apples and products']['Element'].value_counts()

Food supply quantity (kg/capita/yr)       216
Food supply quantity (tonnes)             216
Food supply quantity (g/capita/day)       216
Food supply (kcal/capita/day)             216
Fat supply quantity (g/capita/day)        197
Protein supply quantity (g/capita/day)    194
Name: Element, dtype: int64

In [8]:
# which countries we lookin at bruh
crops['Country'].value_counts()

World                                      532
Asia                                       529
Americas                                   523
Net Food Importing Developing Countries    523
Low Income Food Deficit Countries          521
Land Locked Developing Countries           520
Least Developed Countries                  517
South-Eastern Asia                         516
Southern Asia                              515
Eastern Asia                               514
South America                              513
European Union                             509
Europe                                     509
Africa                                     507
Eastern Africa                             505
China                                      504
Small Island Developing States             503
Western Asia                               500
Central America                            499
Western Africa                             497
Caribbean                                  494
Southern Europe                            492
Oceania                                    489
Nepal                                      489
Northern Africa                            488
Eastern Europe                             488
Middle Africa                              487
Northern America                           486
Western Europe                             485
C�te d'Ivoire                              481
                                          ...
Luxembourg                                 390
USSR                                       390
Suriname                                   388
Czechoslovakia                             388
Viet Nam                                   387
Saint Vincent and the Grenadines           386
Iceland                                    386
Montenegro                                 386
Antigua and Barbuda                        385
Dominica                                   383
Liberia                                    382
Uzbekistan                                 379
Saint Kitts and Nevis                      362
Lao People's Democratic Republic           361
Guinea-Bissau                              356
Solomon Islands                            353
Chad                                       349
Sao Tome and Principe                      348
Vanuatu                                    343
Afghanistan                                336
Micronesia                                 327
Kiribati                                   327
Samoa                                      315
Democratic People's Republic of Korea      306
Timor-Leste                                303
Netherlands Antilles (former)              303
Tajikistan                                 299
Bermuda                                    284
Lesotho                                    263
Turkmenistan                               237
Name: Country, dtype: int64

In [11]:
crops['Item'].describe()

count             93877
unique               91
top       Miscellaneous
freq               1856
Name: Item, dtype: object

# Livestock

In [14]:
# looks the same
meat.head()

,Country Code,Country,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2009,Y2009F,Y2010,Y2010F,Y2011,Y2011F,Y2012,Y2012F,Y2013,Y2013F
0,2,Afghanistan,2731,Bovine Meat,641,Food supply quantity (tonnes),tonnes,43000.00,S,45800.00,...,136279.00,S,133397.00,S,140660.00,S,153438.00,S,140087.00,S
1,2,Afghanistan,2731,Bovine Meat,646,Food supply quantity (g/capita/day),g/capita/day,13.16,Fc,13.73,...,13.48,Fc,12.87,Fc,13.24,Fc,14.09,Fc,12.56,Fc
2,2,Afghanistan,2731,Bovine Meat,645,Food supply quantity (kg/capita/yr),Kg,4.80,Fc,5.01,...,4.92,Fc,4.70,Fc,4.83,Fc,5.14,Fc,4.59,Fc
3,2,Afghanistan,2731,Bovine Meat,664,Food supply (kcal/capita/day),kcal/capita/day,28.00,Fc,30.00,...,29.00,Fc,28.00,Fc,28.00,Fc,30.00,Fc,27.00,Fc
4,2,Afghanistan,2731,Bovine Meat,674,Protein supply quantity (g/capita/day),g/capita/day,1.99,Fc,2.07,...,2.03,Fc,1.94,Fc,2.00,Fc,2.13,Fc,1.89,Fc

# Hospital Beds

In [15]:
beds.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,0.170627,NaN,NaN,NaN,NaN,NaN,...,0.42,0.4,0.4,NaN,0.5,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,2.061462,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albania,ALB,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,5.102676,NaN,NaN,NaN,NaN,NaN,...,NaN,2.8,NaN,2.43,2.6,NaN,NaN,NaN,NaN,NaN

In [ ]:
beds