# CS109 Project: Exploration
Work by Phillip Huang

In [1]:
# import packages
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [2]:
# read data
crops = pd.read_csv('data/FoodSupply_Crops_E_All_Data.csv')
crops_norm = pd.read_csv('data/FoodSupply_Crops_E_All_Data_(Norm).csv')
meat = pd.read_csv('data/FoodSupply_LivestockFish_E_All_Data.csv')
meat_norm = pd.read_csv('data/FoodSupply_LivestockFish_E_All_Data_(Norm).csv')

In [5]:
crops.head()

,Country Code,Country,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2009,Y2009F,Y2010,Y2010F,Y2011,Y2011F,Y2012,Y2012F,Y2013,Y2013F
0,2,Afghanistan,2617,Apples and products,641,Food supply quantity (tonnes),tonnes,14345.00,S,14345.00,...,60666.00,S,65219.00,S,56185.00,S,43222.00,S,67678.00,S
1,2,Afghanistan,2617,Apples and products,646,Food supply quantity (g/capita/day),g/capita/day,4.39,Fc,4.30,...,6.00,Fc,6.29,Fc,5.29,Fc,3.97,Fc,6.07,Fc
2,2,Afghanistan,2617,Apples and products,645,Food supply quantity (kg/capita/yr),Kg,1.60,Fc,1.57,...,2.19,Fc,2.30,Fc,1.93,Fc,1.45,Fc,2.22,Fc
3,2,Afghanistan,2617,Apples and products,664,Food supply (kcal/capita/day),kcal/capita/day,2.00,Fc,2.00,...,3.00,Fc,3.00,Fc,3.00,Fc,2.00,Fc,3.00,Fc
4,2,Afghanistan,2617,Apples and products,674,Protein supply quantity (g/capita/day),g/capita/day,0.01,Fc,0.01,...,0.02,Fc,0.02,Fc,0.02,Fc,0.01,Fc,0.02,Fc

In [6]:
crops_norm.head()

,Country Code,Country,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,2617,Apples and products,641,Food supply quantity (tonnes),1961,1961,tonnes,14345.0,S
1,2,Afghanistan,2617,Apples and products,641,Food supply quantity (tonnes),1962,1962,tonnes,14345.0,S
2,2,Afghanistan,2617,Apples and products,641,Food supply quantity (tonnes),1963,1963,tonnes,14345.0,S
3,2,Afghanistan,2617,Apples and products,641,Food supply quantity (tonnes),1964,1964,tonnes,17480.0,S
4,2,Afghanistan,2617,Apples and products,641,Food supply quantity (tonnes),1965,1965,tonnes,19380.0,S

In [9]:
crops_norm['Flag'].value_counts()

Fc    3635678
S      513346
A      258920
Name: Flag, dtype: int64

In [3]:
crops[crops['Item'] == 'Apples and products']['Element'].value_counts()

Food supply quantity (kg/capita/yr)       216
Food supply quantity (tonnes)             216
Food supply quantity (g/capita/day)       216
Food supply (kcal/capita/day)             216
Fat supply quantity (g/capita/day)        197
Protein supply quantity (g/capita/day)    194
Name: Element, dtype: int64

In [4]:
crops['Country'].value_counts()

World                                      532
Asia                                       529
Americas                                   523
Net Food Importing Developing Countries    523
Low Income Food Deficit Countries          521
Land Locked Developing Countries           520
Least Developed Countries                  517
South-Eastern Asia                         516
Southern Asia                              515
Eastern Asia                               514
South America                              513
European Union                             509
Europe                                     509
Africa                                     507
Eastern Africa                             505
China                                      504
Small Island Developing States             503
Western Asia                               500
Central America                            499
Western Africa                             497
Caribbean                                  494
Southern Europe                            492
Oceania                                    489
Nepal                                      489
Northern Africa                            488
Eastern Europe                             488
Middle Africa                              487
Northern America                           486
Western Europe                             485
C�te d'Ivoire                              481
                                          ...
Luxembourg                                 390
USSR                                       390
Suriname                                   388
Czechoslovakia                             388
Viet Nam                                   387
Saint Vincent and the Grenadines           386
Iceland                                    386
Montenegro                                 386
Antigua and Barbuda                        385
Dominica                                   383
Liberia                                    382
Uzbekistan                                 379
Saint Kitts and Nevis                      362
Lao People's Democratic Republic           361
Guinea-Bissau                              356
Solomon Islands                            353
Chad                                       349
Sao Tome and Principe                      348
Vanuatu                                    343
Afghanistan                                336
Micronesia                                 327
Kiribati                                   327
Samoa                                      315
Democratic People's Republic of Korea      306
Timor-Leste                                303
Netherlands Antilles (former)              303
Tajikistan                                 299
Bermuda                                    284
Lesotho                                    263
Turkmenistan                               237
Name: Country, dtype: int64

In [8]:
crops.groupby("Country Code").