# CS109 Project: Additional Data Munging

In [23]:
import numpy as np
import pandas as pd
import scipy as sp
import sklearn as sk
import pickle

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Part 1: Clean exercise data

In [24]:
exer = pd.read_csv('data/exercise/data.csv', skiprows = 1, na_values='No data')
exer_alt = pd.read_csv('data/exercise/alt.csv', skiprows = 1, na_values='No data')
exer.head()
exer_alt.head()
exer.values
exer_alt.values

,Country,Year,Age Group,Both sexes,Female,Male,Both sexes.1,Female.1,Male.1
0,Afghanistan,2010,18+ years,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,2010,18+ years,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,2010,18+ years,34.4 [30.5-38.5],41.2 [35.7-46.9],27.7 [22.3-33.6],32.5 [28.6-36.6],39.4 [33.9-45.1],25.8 [20.4-31.7]
3,Andorra,2010,18+ years,26.1 [11.6-66.5],29.7 [8.3-66.1],22.4 [6.9-60.3],30.9 [15.6-72.6],34.7 [10.2-69.8],27.2 [8.9-65.3]
4,Angola,2010,18+ years,NaN,NaN,NaN,NaN,NaN,NaN

,Country,Year,Age Group,Both sexes,Female,Male,Both sexes.1,Female.1,Male.1
0,Afghanistan,2010,18+ years,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,2010,18+ years,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,2010,18+ years,34.4 [30.5-38.5],41.2 [35.7-46.9],27.7 [22.3-33.6],32.5 [28.6-36.6],39.4 [33.9-45.1],25.8 [20.4-31.7]
3,Andorra,2010,18+ years,26.1 [11.6-66.5],29.7 [8.3-66.1],22.4 [6.9-60.3],30.9 [15.6-72.6],34.7 [10.2-69.8],27.2 [8.9-65.3]
4,Angola,2010,18+ years,NaN,NaN,NaN,NaN,NaN,NaN

array([['Afghanistan', 2010, '18+  years', ..., nan, nan, nan],
       ['Albania', 2010, '18+  years', ..., nan, nan, nan],
       ['Algeria', 2010, '18+  years', ..., '32.5 [28.6-36.6]',
        '39.4 [33.9-45.1]', '25.8 [20.4-31.7]'],
       ...,
       ['Yemen', 2010, '18+  years', ..., nan, nan, nan],
       ['Zambia', 2010, '18+  years', ..., '17.7 [4.3-48.7]',
        '20.6 [5.1-52.9]', '14.7 [3.9-46.4]'],
       ['Zimbabwe', 2010, '18+  years', ..., '19.7 [4.9-51]',
        '23.8 [6.1-57.1]', '15.3 [4.1-45.5]']], dtype=object)

array([['Afghanistan', 2010, ' 18+  years', ..., nan, nan, nan],
       ['Albania', 2010, ' 18+  years', ..., nan, nan, nan],
       ['Algeria', 2010, ' 18+  years', ..., '32.5 [28.6-36.6]',
        '39.4 [33.9-45.1]', '25.8 [20.4-31.7]'],
       ...,
       ['Yemen', 2010, ' 18+  years', ..., nan, nan, nan],
       ['Zambia', 2010, ' 18+  years', ..., '17.7 [4.3-48.7]',
        '20.6 [5.1-52.9]', '14.7 [3.9-46.4]'],
       ['Zimbabwe', 2010, ' 18+  years', ..., '19.7 [4.9-51]',
        '23.8 [6.1-57.1]', '15.3 [4.1-45.5]']], dtype=object)

Looks like no substantial difference, except the standard data seems a bit cleaner. We'll just use that one.

Now, we will see if all the countries match up with the dependent variable Risk/Deaths per 100k.

In [25]:
out = open('data/clean/risk.p', 'r')
risk = pickle.load(out)
risk.head()

             2012  2000
Country
Afghanistan    31    33
Albania        19    24
Algeria        22    23
Angola         24    24
Argentina      17    20

In [26]:
# check if all risk countries in exercise data
for country in risk.index:
    if country not in exer['Country'].tolist():
        print country

In [27]:
# check if all exercise countries in risk data
for country in exer['Country']:
    if country not in risk.index:
        print country

Andorra
Antigua and Barbuda
Cook Islands
Dominica
Grenada
Kiribati
Marshall Islands
Micronesia (Federated States of)
Monaco
Nauru
Niue
Palau
Saint Kitts and Nevis
Saint Lucia
Saint Vincent and the Grenadines
Samoa
San Marino
Sao Tome and Principe
Seychelles
Tonga
Tuvalu
Vanuatu

In [28]:
risk.index.tolist()

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia (Plurinational State of)',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 "Cote d'Ivoire",
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'The former Yugoslav republic of Macedonia',
 'Timor-Leste',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

All countries appear to be spelled the same way as in the risk data. Several countries appear to be excluded from the risk data. We will now drop them.

In [29]:
dropme = []

for country in exer['Country']:
    if country not in risk.index:
        dropme.append(country)
        
clean_exer = exer[~exer['Country'].isin(dropme)]

# check
for country in clean_exer['Country']:
    if country not in risk.index:
        print 'Fail'

clean_exer.head()

,Country,Year,Age Group,Both sexes,Female,Male,Both sexes.1,Female.1,Male.1
0,Afghanistan,2010,18+ years,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,2010,18+ years,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,2010,18+ years,34.4 [30.5-38.5],41.2 [35.7-46.9],27.7 [22.3-33.6],32.5 [28.6-36.6],39.4 [33.9-45.1],25.8 [20.4-31.7]
4,Angola,2010,18+ years,NaN,NaN,NaN,NaN,NaN,NaN
6,Argentina,2010,18+ years,39.2 [13.5-76.6],42.7 [14.7-78.5],35.8 [13.2-76.1],40.1 [13.9-77],44.1 [15.6-79.3],35.7 [13.2-76]

Let's the first "both sexes, female, male" columns are the age-standarized estimates, while the second set are crude estimates. We should use the age-standarized because they are *INSERT REASONING HERE*. We should also drop the Age Group column and Year column if they are the same for every row. Finally, we should drop the male and female column because we only have data in the dependent variables for both sexes.

In [30]:
clean_exer['Year'].value_counts()
clean_exer['Age Group'].value_counts()

2010    172
Name: Year, dtype: int64

18+  years    172
Name: Age Group, dtype: int64

In [31]:
exer = clean_exer[['Country', 'Both sexes']]
exer.head()

       Country        Both sexes
0  Afghanistan               NaN
1      Albania               NaN
2      Algeria  34.4 [30.5-38.5]
4       Angola               NaN
6    Argentina  39.2 [13.5-76.6]

In [11]:
pickle.dump(exer, open('data/clean/exer.p', 'wb'))

### Part 2: Deal with missing data

Now we want to decide what to do with the NaNs. Let's first load in the rest of the data.

In [12]:
out = open('data/clean/deaths_100k.p', 'r')
deaths = pickle.load(out)
out = open('data/clean/crops.p', 'r')
crops = pickle.load(out)
out = open('data/clean/meat.p', 'r')
meat = pickle.load(out)
out = open('data/clean/doctors.p', 'r')
doctors = pickle.load(out)
out = open('data/clean/beds.p', 'r')
beds = pickle.load(out)

In [17]:
# see if entire df contains NaNs
for df in [('risk', risk), ('doctors', doctors), ('beds', beds), ('exer', exer)]:
    if df[1].isnull().any().any():
        print df[0], 'contains NaNs'

doctors contains NaNs
beds contains NaNs
exer contains NaNs

In [18]:
for group in [('deaths', deaths), ('crops', crops), ('meat', meat)]:
    for df in group[1].values():
        if df.isnull().any().any():
            print group[0], 'contains NaNs'
            break

crops contains NaNs
meat contains NaNs

In [21]:
exer

                                               Country        Both sexes
0                                          Afghanistan               NaN
1                                              Albania               NaN
2                                              Algeria  34.4 [30.5-38.5]
4                                               Angola               NaN
6                                            Argentina  39.2 [13.5-76.6]
7                                              Armenia               NaN
8                                            Australia   23.8 [6.4-58.9]
9                                              Austria   23.8 [6.3-58.1]
10                                          Azerbaijan               NaN
11                                             Bahamas    43 [36.5-49.6]
12                                             Bahrain               NaN
13                                          Bangladesh  26.8 [25.9-27.8]
14                                            Barbados  37.6 [33.6-41.7]
15                                             Belarus               NaN
16                                             Belgium  33.2 [10.6-70.5]
17                                              Belize               NaN
18                                               Benin     6.9 [5.6-8.6]
19                                              Bhutan    8.7 [7.5-10.2]
20                    Bolivia (Plurinational State of)               NaN
21                              Bosnia and Herzegovina   18.1 [4.8-48.5]
22                                            Botswana    27.2 [19.6-36]
23                                              Brazil     27.8 [8-63.9]
24                                   Brunei Darussalam               NaN
25                                            Bulgaria     21 [5.2-54.3]
26                                        Burkina Faso  18.4 [16.1-21.1]
27                                             Burundi               NaN
28                                       Cote d'Ivoire     22.6 [6-56.3]
29                                          Cabo Verde  19.6 [13.5-27.4]
30                                            Cambodia   10.3 [9.3-11.4]
31                                            Cameroon     30.7 [8.3-59]
..                                                 ...               ...
161                                              Spain     30.5 [9.1-68]
162                                          Sri Lanka  23.8 [21.8-25.9]
163                                              Sudan               NaN
164                                           Suriname               NaN
165                                          Swaziland  36.8 [11.8-74.4]
166                                             Sweden   28.7 [8.1-65.2]
167                                        Switzerland               NaN
168                               Syrian Arab Republic               NaN
169                                         Tajikistan               NaN
170                                           Thailand  14.8 [13.5-16.1]
171          The former Yugoslav republic of Macedonia               NaN
172                                        Timor-Leste               NaN
173                                               Togo       10.4 [9-12]
175                                Trinidad and Tobago  41.5 [38.6-44.5]
176                                            Tunisia   23.5 [6.5-57.4]
177                                             Turkey  32.8 [10.3-70.1]
178                                       Turkmenistan               NaN
180                                             Uganda               NaN
181                                            Ukraine   12.2 [2.7-35.1]
182                               United Arab Emirates  38.4 [11.9-74.6]
183  United Kingdom of Great Britain and Northern I...  37.3 [35.9-38.8]
184                        United Republic of Tanzania     6.9 [5.9-7.9]
185                           United States of America    32.4 [29.8-35]
186                                            Uruguay  31.7 [26.2-37.6]
187                                         Uzbekistan    19.2 [17-21.6]
189                 Venezuela (Bolivarian Republic of)               NaN
190                                           Viet Nam  23.9 [16.6-32.9]
191                                              Yemen               NaN
192                                             Zambia   20.5 [5.2-52.6]
193                                           Zimbabwe   22.4 [5.8-54.9]

[172 rows x 2 columns]